/*GENERAL*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img{
  max-width: 100%;
}

a{
  text-decoration: none;
  display: inline;
  color: #ffff;
}

.container{
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

/*HEADER*/
header nav{
  background-color: #ff6900;
  display: flex;
  justify-content: space-around;
}

header a{
  font-size: small;
}

header .navbar-center{
  max-width: 15%;
}

/*MAIN*/
main{
  background-color: aqua;
  width: 90%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin:0 auto;
}

main .container-cards{
  width: 90%;
  background-color: bisque;
}