/*GENERAL*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img{
  max-width: 100%;
}

a{
  text-decoration: none;
  display: inline;
}

li{
  list-style: none;
  display: inline-block;
}

.container{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/*HEADER*/
header{
  background-color: #ff6900;
}

header nav{
  display: flex;
  justify-content: space-around;
  padding: 5px;
  margin-bottom: 20px;
}

header ul li a{
  color:#ffff;
}

header .category{
  font-size: small;
  font-weight: bold;
}

header .logo{
  width: 80px;
}

/*MAIN*/
main{
  display: flex;
  background-color: bisque;
  width: 80%;
  margin: 0px auto;
}

main .row{
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
}

main .container-card{
  margin: 5%;
}

main .card{
  border: 1px solid black;
  width: 25%;
  padding: 75px;
}

main .image{
  background-color: #d3d3d3;
  width: 23%;
  height: 70%;
  
}


/*FOOTER*/